html {
  font-family: "Lato", sans-serif;
}

header {
  margin-left: 2%;
  margin-bottom: 3rem;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Acme', sans-serif;
  font-size: 4rem;
  color: #c03000;
}

h2{
  margin-top: -1rem;
  margin-left: 2rem;
  color: #333;
}

h4 {
  margin-top: 0;
  margin-bottom: 0.1rem;
}

input {
  margin: 5px;
  font-size: 1rem;
}

input[type=button],input[type=submit] {
  background-color: #c03000;
  border: 1px solid #801800;
  border-radius: 2px;
  color: #f0f0f0;
}

input[type=button].deleteButton {
  padding: 1px;
  margin: 1px 5px;
  background-color: #c03000;
  border: 1px solid #801800;
  border-radius: 2px;
  font-size: 0.2em;
}

ul {
  margin-top: 0.3rem;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 2%;
}

.column-left {
  width: 25%;
}

#input-box {
  padding: 5px;
  background-color: #f8f8f8;
  border: 1px solid #808080;
  border-radius: 4px;
}

#mapid {
  margin-left: 2%;
  height: 800px;
  width: 800px;
}

.station-details {
  padding-top: 1em;
  display: none;
  height: 11em;
}

#logo-div {
  background-image: url('../img/logo.png');
  background-size: 50%;
  background-position: 35% 50%;
  background-repeat: no-repeat;
  padding-top: 1em;
  height: 11em;
}

.detail {
  margin: 0.3rem 0.3rem;
}

.label {
  font-weight: bold;
  color: #585858;
}

.hide-id {
 display: none;
}

.favorite-stations-list {
  display: none;
}

#all-stations-box {
  overflow-y: scroll;
  height: 450px;
}

#bottom-container{
  display: flex;
  flex-direction: row;
  margin-left: 2%;
}

#empty-box{
  width: 25%;
}

#developer-box{
  margin-left: 2%;
  margin-top: 1rem;
}

#developer-button{
  margin-left: 0;
  background-color: #606060;
  border: 1px solid #808080;
  border-radius: 2px;
  color: #f8f8f8;
}

#developer-info {
  box-sizing: border-box;
  padding: 0.5em 1em;
  display: none;
  background-color: #f8f8f8;
  border: 1px solid #808080;
  border-radius: 4px;
  height: 150px;
  width: 800px;
  font-family: monospace;
  overflow-y: scroll;
}
