html {
  font-family: "Lato", sans-serif;
}

header {
  margin-left: 2%;
  margin-bottom: 3rem;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Acme', sans-serif;
  font-size: 4rem;
  color: #c03000;
}

h2{
  margin-top: -1rem;
  margin-left: 2rem;
  color: #333;
}

h4 {
  margin-bottom: 0.1rem;
}

input {
  margin: 5px;
  font-size: 1rem;
}

input[type=button],input[type=submit] {
  background-color: #c03000;
  border: 1px solid #801800;
  border-radius: 2px;
  color: #f0f0f0;
}

input[type=button].deleteButton {
  padding: 1px;
  margin: 1px 5px;
  background-color: #c03000;
  border: 1px solid #801800;
  border-radius: 2px;
  font-size: 0.2em;
}

ul {
  margin-top: 0.3rem;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 2%;
}

.column-left {
  width: 25%;
}

#input-box {
  padding: 5px;
  background-color: #f8f8f8;
  border: 1px solid #808080;
  border-radius: 4px;
}

#mapid {
  margin-left: 2%;
  height: 800px;
  width: 800px;
}

.station-details {
  display: none;
  width: 283px;
  height: 171px;
}

.detail {
  margin: 0.3rem 0.3rem;
}

.label {
  font-weight: bold;
  color: #585858;
}

.hide-id {
 display: none;
}

.favorite-stations-list {
  display: none;
}

#all-stations-box {
  overflow-y: scroll;
  height: 450px;
}

.info {
    display: grid;
    grid-template-columns: auto auto;
    padding: 6px 8px;
    background: white;
    background: rgba(255,255,255,0.7);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    width: 170px;
    height: 180px;
}

.info img {
  /* float: left; */
  padding-left: 10px;
  padding-right: 15px;
}
.info p {
  /* float: right; */
  font-family: "Lato", sans-serif;
}

/* .info h4 {
    margin: 0 0 5px;
    color: #777;
    text-align: center;
    font-family: "Lato", sans-serif;
} */

#bottom-container{
  display: flex;
  flex-direction: row;
  margin-left: 2%;
}

#empty-box{
  width: 25%;
}

#developer-box{
  margin-left: 2%;
  margin-top: 1rem;
}

#developer-button{
  margin-left: 0;
  background-color: #606060;
  border: 1px solid #808080;
  border-radius: 2px;
  color: #f8f8f8;
}

#developer-info {
  padding: 0.5em 1em;
  display: none;
  background-color: #f8f8f8;
  border: 1px solid #808080;
  border-radius: 4px;
  height: 200px;
  width: 800px;
  font-family: monospace;
  overflow-y: scroll;

}
